.Nosotros {
    display: grid;
    grid-template-columns: repeat(18, 5vw);
    grid-template-rows: repeat(25, 5vh);
    box-sizing: border-box;
}

.Nosotros > div {
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.Nosotros > div:hover:not(.ctr, .cmr, .cbr) {
    transition-delay: .5s;
    transform: scale(1.15);
}


.ctl {
    grid-row: 1 / 10;
    grid-column: 1 / 12;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    text-align: center;
    background-color: #0F456B;
}

.ctl p {
    color: white;
}

.ctr {
    grid-row: 1 / 10;
    grid-column: 12 / 21;
}

.cml {
    grid-row: 10 / 19;
    grid-column: 1 / 7;
    display:flex;
    background-color: #7FCBD3;
    justify-content: center;
}

.cml p {
    transform: rotate(180deg);
    font-weight: 600;
    font-style: italic;
    font-size: 3.5rem;
    writing-mode:vertical-rl;
    text-align: center;
}

.cmm {
    grid-row: 10 / 19;
    grid-column: 7 / 16;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    text-align: center;
    background-color: #f1f1f1;
}

.cmr {
    grid-row: 10 / 19;
    grid-column: 16 / 21;
    display:flex;
    background-color: #0F456B;
}

.cbl {
    grid-row: 19 / 26;
    grid-column: 1 / 10;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 100px;
    text-align: center;
    background-color: #FCF5F5;
}

.cbr {
    grid-row: 19 / 26;
    grid-column: 10 / 21;
    display:flex;
    border-image: cover;
} 