@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

:root {
    --clr-text-main: black;
    --clr-accent: #0F456B;
    --clr-accent-sec: #6DB8C1;

}

* {
    margin: 0; padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
    outline: none; border: none;
    color: black;
    text-decoration: none;
    transition: .2s linear;
}

html {
    scroll-behavior: smooth;
    scroll-padding: 9vh;
}

body {
    background: #f1f1f1;
}

/* Inicio header */

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    display: flex;
    padding: 15px 5%;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    background-color: whitesmoke;
}

header .logo {
    font-size: 2rem;
    font-weight: bolder;
}

.mart {
    color: var(--clr-accent);
}

header nav a {
    font-size: 1.1rem;
    padding: 0 20px;
}

header a:hover {
    color: var(--clr-accent);
}

header .iconos {
    font-size: 1.3rem;
}

header .iconos a {
    margin-left: 5px;
    margin-right: 5px;
}

/* Fin header */

section {
    height: 100vh;
    scroll-snap-align: start; 
    scroll-snap-stop: always;
}

/* Inicio Hero */

.inicio {
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 15px 5%;
    background: url(FOTO!!) no-repeat; /* AGREGAR FOTO DE FONDO */
    background-size: cover;
    background-position: center;
    z-index: 99;
}

.inicio .contenido {
    max-width: 50vw;
    margin-top: 80px;
}

.inicio .contenido h3 {
    font-size: 3.8rem;
}

.inicio .contenido h5 {
    font-size: 2.2rem;
    color: var(--clr-accent);
}

.inicio .contenido p {
    font-size: 1.4rem;
    padding: 0.5rem 0;
    max-width: 650px;
    text-align: justify;
}
/* fin hero */

/* botones */
.btn {
    display: inline-block;
    border-radius: 40px;
    background: black;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
    margin-top: 10px;
}

.btn:hover {
    background-color: var(--clr-accent);
}
/* fin botones */

.footer {
    bottom: 0;
}

.creditos p {
    font-style: italic;
}

/* Inicio section los mas vendidos */
.LosMasVendidos {
    text-align: center;
}

.LosMasVendidos .titulo {
    background-color: var(--clr-accent);
    user-select: none;
}

.LosMasVendidos .titulo h1 {
    padding-top: 50px;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 8px;
}

.LosMasVendidos .titulo span{
    color: white;
    font-size: 3rem;
}

.LosMasVendidos .content {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 2.5vh;
}

.LosMasVendidos .content .item {
    max-width: 25vw;
    margin-top: 15px;
    border-radius: 5px;
}

.LosMasVendidos .content .item:hover {
    transform: scale(1.15);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

.LosMasVendidos .content .item img{
    max-width: 20vw;
    max-height: 100%;
}

.LosMasVendidos .content .item h2{
    font-family: "Merriweather", serif;
    color: var(--clr-accent);
    font-style: italic;
}

.LosMasVendidos a {
    margin-top: 10vh;
    border-radius: 10px;
}
/* Fin los más vendidos */

/* Inicio categorías */
.categorias {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedor {
    width: 100vw;
    padding: 2rem;
    padding-left: 5vh;
}
.contenedor h2 {
    margin-bottom: 1rem;
}

.carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100;
    height: 10vh;
    background: linear-gradient(90deg, var(--clr-accent), var(--clr-accent-sec));
    border-radius: 10px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, .2);
}

.carousel-contenido {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: calc(100% - 150px);
}
.carousel-contenido .cat {
    width: 15vw;
    margin-right: 1rem;
    padding: 1.2rem;
    background: #ffff;
    border-radius: 10px;
    box-shadow: 1 3px 5px rgba(0,0,0,0.1);
}

.btn-izq,
.btn-der {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translateY(-50%) ;
    cursor: pointer;
    box-shadow: 0 10px 30px rgba(0, 0, 0, .4);
}

.btn-izq {
    left: .5rem;
}

.btn-der {
    right: .5rem;
}
/* Fin categorías */

/* Inicio Sobre Nosotros */

.Nosotros .title {
    text-align: justify;
    padding: .5em 2em;
}

.columnas {
    display: flex;
    gap: 2em;
    margin: 2em 2em;
}

.columnas h3 {
    font-size: 28px;
    color: var(--clr-accent-sec);
    -webkit-text-stroke: 1px var(--clr-accent);
}

.columnas div {
    flex-basis: 100%;
    height: 50vh;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2);
}

.columnas div > *{
    margin: .5em 2em ;
    list-style: none;
    text-align: center;
}

.columnas li {
    font-size: 24px;
    line-height: 2ch;
}

